<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
	   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Foundation.Macaw.ApplicationInsights.Installed" value="true" />
    </settings>
    <services>
      <configurator type= "Foundation.Macaw.ApplicationInsights.ServiceConfigurator, Foundation.Macaw.ApplicationInsights" />
    </services>
  </sitecore>
</configuration>