<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="Azure">
    <log4net>
		
	  <appender name="ApplicationInsightsAppender" type="Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights">
	    <rollingStyle value="Size"/>
	    <maxSizeRollBackups value="-1"/>
	    <maximumFileSize value="10MB"/>
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
          </layout>
    </appender>
	  
      <root>
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </root>
      <logger name="Sitecore.Diagnostics.Publishing">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="ClientRoot">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.Owin.Diagnostics">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Search">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.FXM.Diagnostics">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.EDS">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
      <logger name="Sitecore.EXM">
        <appender-ref ref="ApplicationInsightsAppender" desc="ApplicationInsightsAppender" />
      </logger>
    </log4net>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Cloud.ApplicationInsights.TelemertyInitializers.InjectTelemertyInitializers, Sitecore.Cloud.ApplicationInsights" patch:before="*[1]" />
        <processor type="Sitecore.Cloud.ApplicationInsights.Logging.RemoveSitecoreTraceListeners, Sitecore.Cloud.ApplicationInsights" patch:before="*[1]" />
      </initialize>
    </pipelines>
    
    <scheduling>
      <agent type="Sitecore.Cloud.ApplicationInsights.PerformanceCounterGrabberAgent, Sitecore.Cloud.ApplicationInsights" method="Run" interval="00:05:00" resolve="true" />
    </scheduling>

    <counterLoader type="Sitecore.Cloud.ApplicationInsights.CounterLoader,Sitecore.Cloud.ApplicationInsights">
      <includedCounters hint="raw:AddCounterToReport">
        <add category="Sitecore.Data" name="Data | Client Data Reads / sec" />
        <add category="Sitecore.Data" name="Data | Client Data Writes / sec" />
        <add category="Sitecore.Data" name="Data | Items Accessed / sec" />
        <add category="Sitecore.Data" name="Data | Physical Reads / sec" />
        <add category="Sitecore.Data" name="Data | Physical Writes / sec" />
        <add category="Sitecore.Caching" name="Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="Cache Hits / sec" />
        <add category="Sitecore.Caching" name="Cache Misses / sec" />
        <add category="Sitecore.Caching" name="Data Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="Data Cache Hits / sec" />
        <add category="Sitecore.Caching" name="Data Cache Misses / sec" />
        <add category="Sitecore.Caching" name="Html Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="Html Cache Hits / sec" />
        <add category="Sitecore.Caching" name="Html Cache Misses / sec" />
        <add category="Sitecore.Caching" name="Path Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="Path Cache Hits / sec" />
        <add category="Sitecore.Caching" name="Path Cache Misses / sec" />
        <add category="Sitecore.Caching" name="Registry Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="Registry Cache Hits / sec" />
        <add category="Sitecore.Caching" name="Registry Cache Misses / sec" />
        <add category="Sitecore.Caching" name="View State Cache Clearings / sec" />
        <add category="Sitecore.Caching" name="View State Cache Hits / sec" />
        <add category="Sitecore.Caching" name="View State Cache Misses / sec" />
        <add category="Sitecore.Caching" name="XslCache Clearings / sec" />
        <add category="Sitecore.Caching" name="XslCache Hits / sec" />
        <add category="Sitecore.Caching" name="XslCache Misses / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Live Interactions Processed / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | History Interactions Processed / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Total Interactions Processed / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Live Aggregation Errors / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | History Aggregation Errors / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Total Aggregation Errors / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Contacts Processed / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Contact Processing Errors / sec" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Batch Size - Live" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Batch Size - History" />
        <add category="Sitecore.Analytics" name="Aggregation | Number of Batches Containing Failing Items - Live" />
        <add category="Sitecore.Analytics" name="Aggregation | Number of Batches Containing Failing Items - History" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Aggregation Pipeline Time (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Write Time (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Contact Processing Pipeline Time (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Write Time - Primary (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Write Time - Secondary category=Live (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Write Time - Secondary category=History (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Active Interaction Aggregators" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Check Out Time - Live (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Check In Time - Live (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Check Out Time - History (ms)" />
        <add category="Sitecore.Analytics" name="Aggregation | Average Check In Time - History (ms)" />
      </includedCounters>
    </counterLoader>
    
    <settings>
      <!--  SERVER ROLE
            The name for grouping metrics from instances by server role.
            Default value: Single
      -->
      <setting name="ApplicationInsights.Role" value="" />
      
      <!--  TELEMETRY TAGS
            Tags that are included in telemetry data to identify the metrics from an instance.
      -->
      <setting name="ApplicationInsights.Tag" value="Sitecore" />
      
      <!--  DEVELOPER MODE
            Enables developer mode in Application Insights TelemetryConfiguration.
      -->
      <setting name="ApplicationInsights.DeveloperMode" value="false" />
      
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>